@import "tailwindcss";

@font-face {
  font-family: Explora;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  src:
    url(../../public/Explora/Explora-Regular.ttf) format("trueType"),
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-explora: "Explora", ui-sans-serif, system-ui;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
